### Eclipse Files and Directories ###
.project
.cproject
*.prefs
Debug/
Release/

### Visual Studio Files and Directories ###
build/
obj/
bin/

### Compilation and Intermediate Files ###
*.exe
*.dll
*.[oa]
*~

### Mac OS X Files ###
.DS_Store