### General Development Files and Directories ###
build/
obj/
bin/
res/

### Eclipse Files and Directories ###
Debug/
Release/
*.project
*.cproject
*.prefs

### Compilation and Intermediate Files ###
*.[oa]
*.dylib
*.framework
*.so
*.dll
*.exe

### OS Files ###
*~
*.DS_Store
*.db